<div id="loginComponent">
  <div class="wrap">
    <ul class="tabs group">
      <li><a (click)="onItemClick(0)" class="active">注册</a></li>
      <li><a (click)="onItemClick(1)">登录</a></li>
    </ul>
    <div id="content">
      <div class="con" [style.display]="setItem==0?'block':'none'">
        <div *ngIf="isActivate" class="activate">
          <i style="font-size:100px;color:#6edeef;margin-bottom:10px;" class="fa fa-send-o"></i>
          <h1>请前往邮箱激活</h1>
        </div>
        <form *ngIf="!isActivate" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="_submitForm()">
          <div nz-form-item>
            <div nz-form-control>
              <nz-input (nzBlur)="isRegister()" formControlName="email" [nzId]="'email1'" [(ngModel)]="user.email" [nzPlaceHolder]="'常用邮箱'" [nzSize]="'large'">
                <ng-template #prefix>
                  <i class="anticon anticon-user"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">The input is not valid E-mail!</div>
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-control>
              <nz-input formControlName="password" [(ngModel)]="user.password" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
                <ng-template #prefix>
                  <i class="anticon anticon-lock"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">Please input your Password!</div>
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-control>
              <button nz-button class="login-form-button" (click)="doRegister()" [nzType]="'primary'" [nzSize]="'large'">注册</button>
            </div>
          </div>
        </form>
      </div>
      <div class="con" [style.display]="setItem==1?'block':'none'">
        <form nz-form [formGroup]="validateForm1" class="login-form" (ngSubmit)="_submitForm1()">
          <div nz-form-item>
            <div nz-form-control>
               <!---->
              <nz-input (nzBlur)="isRegister()" formControlName="email" [nzId]="'email'" [(ngModel)]="user.email" [nzPlaceHolder]="'常用邮箱'" [nzSize]="'large'">
                <ng-template #prefix>
                  <i class="anticon anticon-user"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain *ngIf="getFormControl('email').dirty&&getFormControl('email').hasError('email')">The input is not valid E-mail!</div>
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-control>
              <nz-input formControlName="password" [(ngModel)]="user.password" [nzType]="'password'" [nzPlaceHolder]="'密码'" [nzSize]="'large'">
                <ng-template #prefix>
                  <i class="anticon anticon-lock"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain *ngIf="validateForm1.controls.password.dirty&&validateForm1.controls.password.hasError('required')">Please input your Password!</div>
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-control>
              <button nz-button class="login-form-button" (click)="doLogin()" [nzType]="'primary'" [nzSize]="'large'">登录</button>
              <label nz-checkbox formControlName="remember">
                <span>Remember me</span>
              </label>
              <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>