<div id="noticeComponent">
  <div class="g-box3">
    <h2 class="w-fttl">通知</h2>
    <div>
      <a class="atag f-fw1">主页(2)</a>
      <a class="atag">评论</a>
      <a class="atag">推荐的文章(20)</a>
      <a class="atag">话题</a>
      <a class="atag">ART(4)</a>
    </div>

  </div>
  <div class="g-box2">
    <div class="m-glist">
      <div class="m-cmt">
        <div class="cmttt">
          <h2 class="itag">4月15日</h2>
        </div>
        <ul class="tag">
          <li class="cmtsp">
            <div class="cmti">
              <div class="emmm">
                <a href="">
                  <img src="../../../assets/avatar/avatar1.png" alt="">
                </a>
                <div class="cmthot">
                  <a>咕噜噜</a> &nbsp;&nbsp;喜欢了您的&nbsp;&nbsp;
                  <a>图片：2017总结</a>
                </div>
              </div>

              <a href="">
                <img src="../../../assets/avatar/avatar9.jpg" alt="">
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="m-cmt">
        <div class="cmttt">
          <h2 class="itag">4月14日</h2>
        </div>
        <ul class="tag">
          <li class="cmtsp">
            <div class="cmti">
              <div class="emmm">
                <a href="">
                  <img src="../../../assets/avatar/avatar7.jpg" alt="">
                </a>
                <div class="cmthot">
                  <a>YyimG</a> &nbsp;&nbsp;喜欢了您的&nbsp;&nbsp;
                  <a>图片：2018.1-2</a>
                </div>
              </div>

              <a href="">
                <img src="../../../assets/avatar/avatar9.jpg" alt="">
              </a>
            </div>
          </li>
          <li class="cmtsp">
            <div class="cmti">
              <div class="emmm">
                <a href="">
                  <img src="../../../assets/avatar/avatar2.jpg" alt="">
                </a>
                <div class="cmthot">
                  <a>WEEDPOT</a> &nbsp;&nbsp;喜欢了您的&nbsp;&nbsp;
                  <a>图片：2018.1-2</a>
                </div>
              </div>

              <a href="">
                <img src="../../../assets/avatar/avatar9.jpg" alt="">
              </a>
            </div>
          </li>
          <li class="cmtsp">
            <div class="cmti">
              <div class="emmm">
                <a href="">
                  <img src="../../../assets/avatar/avatar2.jpg" alt="">
                </a>
                <div class="cmthot">
                  <a>WEEDPOT</a> &nbsp;&nbsp;推荐了您的&nbsp;&nbsp;
                  <a>图片：2018.1-2</a>
                </div>
              </div>

              <a href="">
                <img src="../../../assets/avatar/avatar9.jpg" alt="">
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="m-cmt">
        <div class="cmttt">
          <h2 class="itag">4月13日</h2>
        </div>
        <ul class="tag">
          <li class="cmtsp">
            <div class="cmti">
              <div class="emmm">
                <a href="">
                  <img src="../../../assets/avatar/avatar4.jpg" alt="">
                </a>
                <div class="cmthot">
                  <a>《惜 張》</a> &nbsp;&nbsp;发售了&nbsp;&nbsp;
                  <a>框画：黑猫</a>
                </div>
              </div>

              <a href="">
                <img src="../../../assets/avatar/avatar9.jpg" alt="">
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="m-page noselect">
    <a class="w-sbtn w-sbtn-2" href="#">
      <span class="w-ial">上 一 页</span>
    </a>
    <div class="num">
      <span>1 / 121 </span>
      <span class="arrow">&nbsp;</span>
    </div>
    <a class="w-sbtn" href="#">
      <span class="w-iar r">下 一 页</span>
    </a>
  </div>
</div>